Django>=4.2,<5.0
Pillow>=10.0
gunicorn
whitenoise
dj-database-url
psycopg2-binary
python-dotenv
boto3>=1.26
django-storages[s3]>=1.13
django-celery-beat>=2.5
celery>=5.3
redis>=4.6
djangorestframework>=3.14
